* {
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 220px;
    border: 1px solid black;
    border-radius: 15px;
}

.title {
    margin: 5px auto 5px 24px;
    font-weight: 100;
}

.algor {
    margin: 5px auto 10px 24px;
    display: flex;
}

.list-algors {
    position: absolute;
    font-size: small;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    list-style: none;
    background-color: white;
    left: calc(50% - 150px);
    padding: 5px;
}

.list-algors > li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.choice-algor {
    font-weight: 100;
}

.choice-algor:hover {
    cursor: pointer;
}

.dnd{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 120px;
    color: black;
    text-align: center;
    padding-top: 45px;
    border: 1px solid black;
    border-radius: 12px;
}

.dnd-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
}

.hash {
    display: flex;
    margin: 20px auto auto auto;
    flex-direction: column;
}

.hash > h5 {
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none;
}
